<div data-w-id="f46266c7-0be4-55cd-4721-7414e8efa599" class="footer_link-wrapper">
                  <a href="{{ links.50f9b62a }}" target="_blank" class="text-style-allcaps">{{ texts.-582ee86e }}</a>
                  <div class="footer_link-decoration"></div>
                  <div class="footer_link-blur"></div>
                </div>