<div class="transition-circle">
        <div class="transition-content">
          <div class="transition-circle-bg">
            <div class="circle"></div>
            <div class="circle-blur"></div>
          </div>
        </div>
      </div>